@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}  

.form_title {
    font-size: 2vw;
}

.lgn_form {
    padding: 2vw;
    width: 30%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 35%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 2vw;
}

.lgn_pass_input_buttons {
    border: none;
    padding: 0.5vw;
    border-radius: 2vw;
    margin: 2vw;
}

.lgn_pass_label {
    font-size: 1.2vw;
    padding: 2vw;
    margin: 1vw;
    font-weight: bold;
}

.submit_button {
    border: none;
    color: white;
    border-radius: 2vw;
    padding: 1.5vw;
    width: 70%;
    background-color: rgb(61, 58, 58);
    cursor: pointer;
}