.main_header {
    display: grid;
    background-color: rgb(36, 34, 34);
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
    ". poke_icon header_input logout_icon ."
    ".  searched_pokemons searched_pokemons searched_pokemons ."
    ;
}

.searched_pokemons {
    grid-area: searched_pokemons;
    background-color: rgb(36, 34, 34);
    color: white;
    
}

.searched_pokemons_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke_icon {
    grid-area: poke_icon;
    margin: auto;

}
.poke_icon img {
    width: 3vw;
    height: auto;
    padding: 0.5vw;
    cursor: pointer;
}

.poke_icon img:hover {
    border-radius: 2vw;
    border: solid 1px white;
    color: white;
}

.header_input {
    display: flex;
    grid-area: header_input;
    margin: auto;
    width: 80%;
}

.header_input input {
    outline: none;
    justify-content: center;
    border: none;
    width: 100%;
    padding: 1vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

.header_input input:hover {
    font-weight: bold;
}

.header_input span {
    background-color: white;
    border: none;
    cursor: pointer;
}

.header_input svg {
    padding: 1vw;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.header_input svg:hover {
    background-color: rgba(230, 177, 177, 0.171);
    color: white;
    font-weight: bold;
}

.logout_icon svg:hover {
    border-radius: 2vw;
    border: solid 1px white;
    color: white;
}

@media screen and (max-width: 848px) {

    .header_input {
        width: 100%;
    }
    .header_input input {
        font-size: 1.5vh;
    }
    .poke_icon img {
        width: 3vh;
    }
}