.PokeCards {
    display: flex;
    padding: 1.5vw;
    flex: none;
    flex-wrap: wrap;
}

.Card {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: auto;
    cursor: pointer;
}

.card_title {
    font-size: 1vw;
    font-weight: bold;
    text-transform: capitalize;
    
}